/* 
.hero {
  background: url('../assets/hero.jpg') center/cover no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.783);
  z-index: 1;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  z-index: 2;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  padding: 20px;
  max-width: 600px;
}

.hero-image {
  flex: 1;
  width: 300px;
  height: auto;
  border-radius: 10px;
  z-index: 2;
} */















.hero {
  background: url('../assets/hero.jpg') center/cover no-repeat;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.869);
  z-index: 1;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  z-index: 2;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;

  padding: 40px;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #ff4444;
}

.hero-text p {
  font-size: 1.25rem;
  margin-bottom: 40px;
  line-height: 1.6;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-button:hover {
  background-color: #a80000;
  transform: scale(1.05);
}

.hero-image {
  /* flex: 1; */
  width: 500px;
  height: 500px;
  border-radius: 10px;
  z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    transition: transform 0.3s ease;

}
.hero-image:hover {
  transform: scale(1.05);
}
